{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block bootstrap5_content %}
<h1 class="my-4">{%  translate 'Метки' %}</h1>
<a href="{% url 'labels:create' %}" class="btn btn-primary">Создать метку</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate "Имя" %}</th>
            <th>{% translate "Дата создания" %}</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for label in labels %}
        <tr>
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'labels:update' label.pk %}">{% translate "Изменить" %}</a>
                <br>
                <a href="{% url 'labels:delete' label.pk %}">{% translate "Удалить" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
