{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block bootstrap5_content %}
  <h1 class="my-4">{% translate "Задачи" %}</h1>
  
  <a href="{% url 'tasks:create' %}" class="btn btn-primary mb-3">
    {% translate "Создать задачу" %}
  </a>

<div class="card mb-3">
  <div class="card-body bg-light">
    <form class="form-inline center" method="get">
      <div class="mb-3"><label class="form-label" for="id_status">{% translate "Статус" %}</label><select name="status" class="form-select ml-2 mr-3" id="id_status">
  <option value="" selected>---------</option></select>
</div>

<div class="mb-3"><label class="form-label" for="id_executor">{% translate "Исполнитель" %}</label><select name="executor" class="form-select mr-3 ml-2" id="id_executor">
  <option value="" selected>---------</option></select>
</div>

<div class="mb-3"><label class="form-label" for="id_label">{% translate "Метка" %}</label><select name="label" class="form-select mr-3 ml-2" id="id_label">
  <option value="" selected>---------</option></select>
</div>

<div class="mb-3"><div class="form-check"><input type="checkbox" name="self_tasks" class="form-check-input mr-3" id="id_self_tasks"><label class="form-check-label" for="id_self_tasks">{% translate "Только свои задачи" %}</label></div></div>
  <input class="btn btn-primary" type="submit" value="{% translate "Показать" %}">
    </form>
  </div>
</div>  

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% translate "Имя" %}</th>
        <th>{% translate "Статус" %}</th>
        <th>{% translate "Автор" %}</th>
        <th>{% translate "Исполнитель" %}</th>
        <th>{% translate "Дата создания" %}</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for task in tasks %}
      <tr>
        <td>{{ task.id }}</td>
        <td><a href="{% url 'tasks:detail' task.pk %}">{{ task.name }}</a></td>
        <td>{{ task.status.name }}</td>
        <td>{{ task.author.get_full_name }}</td>
        <td>{{ task.executor.get_full_name|default_if_none:"" }}</td>
        <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
        <td>
          <a href="{% url 'tasks:update' task.pk %}">
            {% translate "Изменить" %}
          <br>
          </a>
          <a href="{% url 'tasks:delete' task.pk %}">
            {% translate "Удалить" %}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
