{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block bootstrap5_content %}
  <h1 class="my-4">{% translate "Задачи" %}</h1>
  
  <a href="{% url 'tasks:create' %}" class="btn btn-primary mb-3">
    {% translate "Создать задачу" %}
  </a>

  <div class="card mb-3">
    <div class="card-body bg-light">
      <form method="get" class="form-inline">
          <div class="mb-3">
            {{ filter.form.status.label_tag }}
            <select name="{{ filter.form.status.name }}" id="{{ filter.form.status.id_for_label }}" class="form-select form-select-lg">
              <option value="" selected>---------</option>
              {% for option in filter.form.status.field.queryset %}
                <option value="{{ option.id }}" {% if option.id == filter.form.status.value %}selected{% endif %}>
                    {{ option.name }}
                </option>
              {% endfor %}
            </select>
          </div>
        
        <div class="mb-3">
          {{ filter.form.executor.label_tag }}
            <select name="{{ filter.form.executor.name }}" id="{{ filter.form.executor.id_for_label }}" class="form-select form-select-lg">
              <option value="" selected>---------</option>
              {% for option in filter.form.executor.field.queryset %}
                <option value="{{ option.id }}" {% if option.id == filter.form.executor.value %}selected{% endif %}>
                    {{ option.get_full_name|default:option.username }}
                </option>
              {% endfor %}
            </select>
        </div>
        
        <div class="mb-3">
          {{ filter.form.labels.label_tag }}
            <select name="{{ filter.form.label.name }}" id="{{ filter.form.label.id_for_label }}" class="form-select form-select-lg">
              <option value="" selected>---------</option>
              {% for option in filter.form.labels.field.queryset %}
                <option value="{{ option.id }}" {% if option.id == filter.form.labels.value %}selected{% endif %}>
                    {{ option.name }}
                </option>
              {% endfor %}
            </select>
        </div>
        
        <div class="mb-3">
            {{ filter.form.self_tasks }}
            <label class="form-check-label" for="{{ filter.form.self_tasks.auto_id }}">
              {% translate "Только свои задачи" %}
            </label>
        </div>
        
        <button type="submit" class="btn btn-primary">{% translate "Показать" %}</button>
      </form>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% translate "Имя" %}</th>
        <th>{% translate "Статус" %}</th>
        <th>{% translate "Автор" %}</th>
        <th>{% translate "Исполнитель" %}</th>
        <th>{% translate "Дата создания" %}</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for task in filter.qs %}
      <tr>
        <td>{{ task.id }}</td>
        <td><a href="{% url 'tasks:detail' task.id %}">{{ task.name }}</a></td>
        <td>{{ task.status }}</td>
        <td>{{ task.author }}</td>
        <td>{{ task.executor|default_if_none:"" }}</td>
        <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
        <td>
          <a href="{% url 'tasks:update' task.id %}">{% translate "Изменить" %}</a>
          <br>
          <a href="{% url 'tasks:delete' task.id %}">{% translate "Удалить" %}</a>
        </td>
      </tr>
      {% empty %}
        <tr></tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
